{% extends "base.html" %}
{% load i18n %}

{% block active-tab %}'#nav-adaptation'{% endblock %}

{% block head %}
{{ block.super }}
<style>
table td{
  height: 30px;
}
#download-table {
  margin-top: 20px;
  width: 600px;
}
</style>
{% endblock %}

{% block main %}
<div id="main" class="container">
  <div class="well">
    <h1>{% trans "Adaptation and Opportunities" %}</h1>
{% blocktrans %}
<p>
Compiled a series of stories on the Google Earth platform to provide a starting point to begin the process of mapping the experiences of institutions and data on climate change and disaster risk management. These stories allow you to:
<li> exploit the results of the work realizadosobre climate change under the INGC
</ li> <li> understand the issues surrounding climate change on the basis of more recent evidence, including INGC Phase I study of the impacts of climate change in Mozambique.
</ li> </ ul> </ p> <p>
The following stories are delivered digitally in KMZ format, viewable in its entirety, using the Google Earth platform.
</ p>
{% endblocktrans %}

  <h2>{% trans "Storylines" %}</h2>
  <table class="table table-bordered table-striped" id="download-table">
  <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Download" %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{% trans "Storyline 1 - Impacts of Climate Change" %}</td>
        <td>
          <a href="{{ STATIC_URL }}kmz/Storyline 1 Impacts of Climate Change.kmz">
            <img src="{{ STATIC_URL }}kmz/kmz.png" width="32px" />
         </a>
</td>
      </tr>
     <tr>
        <td>{% trans "Storyline 2 - Lessons from the INGC Early Warning Experience - A Floods Case Study" %}</td>
        <td>
          <a href="{{ STATIC_URL }}kmz/Storyline 2 Lessons from the INGC Early Warning Experience - A Floods Case Study.kmz">
            <img src="{{ STATIC_URL }}kmz/kmz.png" width="32px" />
         </a>
</td>
      </tr>
  <tr>
        <td>{% trans "Storyline 3 - Information Management During Emergency Response" %}</td>
        <td>
          <a href="{{ STATIC_URL }}kmz/Storyline 3 Information Management During Emergency Response.kmz">
            <img src="{{ STATIC_URL }}kmz/kmz.png" width="32px" />
         </a>
</td>
      </tr>
  <tr>
        <td>{% trans "Storyline 4 - Building Resilience to Climate Change" %}</td>
        <td>
          <a href="{{ STATIC_URL }}kmz/Storyline 4 Building Resilience to Climate Change.kmz">
            <img src="{{ STATIC_URL }}kmz/kmz.png" width="32px" />
         </a>
</td>
      </tr>
  <tr>
        <td>{% trans "Storyline 5 - Ecoenergia at Ocua how does climate affect operations and management" %}</td>
        <td>
          <a href="{{ STATIC_URL }}kmz/Storyline 5 Ecoenergia at Ocua how does climate affect operations and management.kmz">
            <img src="{{ STATIC_URL }}kmz/kmz.png" width="32px" />
         </a>
</td>
      </tr>
 
    </tbody>
  </table>
{% blocktrans %}
<p>
Para visualizá-las, basta baixar e abrir, em seguida, clicando duas vezes sobre estes. Note que você deve ter o Google Earth instalado no seu computador.
    </p>
{% endblocktrans %}
  </div>
</div>

{% endblock %}

