{% extends "base.html" %}
{% load i18n %}

{% block active-tab %}'#nav-adaptation'{% endblock %}

{% block head %}
{{ block.super }}
<style>
table td{
  height: 30px;
}
#download-table {
  margin-top: 20px;
  width: 600px;
}
</style>
{% endblock %}

{% block main %}
<div id="main" class="container">
  <div class="well">
    <h1>{% trans "Adaptation and Opportunities" %}</h1>
    <p>
    Compilamos uma série de histórias sobre a plataforma de Google Earth que fornecem um ponto de partida para iniciar o processo de mapeamento das experiências, das instituições e dados sobre as alterações climáticas e gestão de riscos de desastres.  Estas histórias permitem:
<ul><li>explorar os resultados do trabalho realizadosobre as mudanças climáticas sob o INGC
</li><li>compreender as questões que envolvem as mudanças climáticas na base de evidência mais recente, incluindo Fase INGC, eu estudo dos impactos das Mudanças Climáticas em Moçambique.
</li></ul></p><p>
As histórias seguintes são entregues digitalmente em formato KMZ, visível na sua totalidade, usando a plataforma Google Earth.
</p>


  <h2>Histórias</h2>
  <table class="table table-bordered table-striped" id="download-table">
  <thead>
      <tr>
        <th>Name</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>História 1: Impactos das Mudanças Climáticas</td>
        <td>
          <a href="{{ STATIC_URL }}kmz/Storyline 1 Impacts of Climate Change.kmz">
            <img src="{{ STATIC_URL }}kmz/kmz.png" width="32px" />
         </a>
</td>
      </tr>
     <tr>
        <td>História 2: Lições da Experiência Aviso INGC Precoce - estudo de caso Inundações</td>
        <td>
          <a href="{{ STATIC_URL }}kmz/Storyline 2 Lessons from the INGC Early Warning Experience - A Floods Case Study.kmz">
            <img src="{{ STATIC_URL }}kmz/kmz.png" width="32px" />
         </a>
</td>
      </tr>
  <tr>
        <td>História 3: Gestão da Informação durante a resposta de emergência</td>
        <td>
          <a href="{{ STATIC_URL }}kmz/Storyline 3 Information Management During Emergency Response.kmz">
            <img src="{{ STATIC_URL }}kmz/kmz.png" width="32px" />
         </a>
</td>
      </tr>
  <tr>
        <td>História 4: Construindo Resistência às Mudanças Climáticas</td>
        <td>
          <a href="{{ STATIC_URL }}kmz/Storyline 4 Building Resilience to Climate Change.kmz">
            <img src="{{ STATIC_URL }}kmz/kmz.png" width="32px" />
         </a>
</td>
      </tr>
  <tr>
        <td>História 5 EcoEnergia em Ocua como é que o clima afeta as operações e gestão</td>
        <td>
          <a href="{{ STATIC_URL }}kmz/Storyline 5 Ecoenergia at Ocua how does climate affect operations and management.kmz">
            <img src="{{ STATIC_URL }}kmz/kmz.png" width="32px" />
         </a>
</td>
      </tr>
 
    </tbody>
  </table>
<p>
Para visualizá-las, basta baixar e abrir, em seguida, clicando duas vezes sobre estes. Note que você deve ter o Google Earth instalado no seu computador.
    </p>
  </div>
</div>

{% endblock %}

