{% extends "maps/tools_base.html" %}
{% load i18n %}
{% block head %}
{{ block.super }}
<style>
#droughtmap p, #droughtmap h4, #droughtmap iframe, #droughtmap a img{
   margin-left: 0px;
}
iframe {
   border: 5px #404040 solid;
}
#riskmap a{
margin-left: 150px;
}
.risiko{
margin-left: 325px;
}
.sidebar h5{
line-height:20px;
}
</style>
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{{ block.super }}
<script type="text/javascript">
Ext.onReady(function(){
   {% autoescape off %}
 
    var searchTable = new GeoNode.MapSearchTable({
        renderTo: 'search_results',
        trackSelection: true,
        permalinkURL: '{% url maps_search %}',
        searchURL: '{% url maps_search_api %}',
    });


    {% endautoescape %}
});
</script>
{%endblock%}
{% block sidebar %}
<div class="well">
<h2>{% trans "Create your own" %}</h2>
</p>
<a class="btn large primary" href="/maps/new">{% trans "New map" %}</a>


<h2>{% trans "Latest Maps" %}</h2>
<ol>
{% for object in object_list %}
<li>
<h5><a href="{{ object.get_absolute_url }}/view">{{ object.title }}</a></h5>
<p>{{ object.abstract }}</p>
    <a href="{{ object.get_absolute_url }}/view">
      <img class="thumbnail" src="{{ STATIC_URL }}/theme/img/mapscreens/{{object.id}}.png" width="200" alt="">
    </a>
    <a class="btn" href="{% url maps_download object.id %}">{% trans "Download" %}</a>
</li>
{% empty %}
<p>{% trans "No maps have been created." %} {% trans "Why not" %}<a href="/maps/new">{% trans "create one?" %}</a>.</p>
{% endfor %}
</ol>
</div>
{% endblock %}
{% block content %}
<div id="main" class="container">
  <div class="well">
    <h1>{% trans "Tools and Maps" %}</h1>
  </div>
 <div class="row">


   <div class="span6 well" id="droughtmap">
    <h3>{% trans "Create your own interactive map" %}</h3>
    <a href="/maps/new"><img src="{{ STATIC_URL }}/theme/img/risk.png" style="border:5px #404040 solid;align:center;"></a>

<p>{% trans "You can use the interactive tools to create your own map focused on a topic or a location." %}
   </div>

   <div class="span6 well" id="droughtmap">
    <h3>{% trans "Zambezi Decision Support System for Climate Change" %}</h3>
    <a href="http://zdss.ingc.gov.mz/"><img src="{{ STATIC_URL }}/theme/img/zdss.png" style="border:5px #404040 solid;align:center;"></a>
    <p>{% trans "A web-based Decision Support System to analyze the impact of climate change and water resources development on runoff in the Zambezi basin." %}</p>
   </div>


   <div class="span6 well" id="droughtmap">
    <h3>{% trans "GRIPWeb Disaster Loss Database for Mozambique"%}</h3>
    <a href="http://62.2.195.177/DesInventar/"><img style="border:5px #404040 solid;" src="{{ STATIC_URL }}/theme/img/gripscreen.png" alt=""></a>
    <p>{% trans "GRIPWeb provides an innovative tool for information and knowledge management, it also aims at empowering people by introducing new ways of working and collaborating." %}</p>
   </div>

   <div class="span6 well">
    <h3>{% trans "World Bank's Climate Change Knowledge Portal" %}</h3>
    <a id="nav-vulnerability" href="http://sdwebx.worldbank.org/climateportal/index.cfm?page=country_historical_climate&ThisRegion=Africa&ThisCCode=MOZ">
<img style="border:5px #404040 solid;" src="{{ STATIC_URL }}theme/img/cckp.png" width=330px /></a>
    <p>{% trans "The Climate Change Knowledge Portal (CCKP) is a central hub of information, data and reports about climate change around the world. Here you can query, map, compare, chart and summarize key climate and climate-related information" %}</p>
   </div>

<!-- Add uGRID from UNEP and data.worldbank.org
http://preview.grid.unep.ch

-->
   </div>

 </div>

<div class="well">
  <div id="search_form" class="block">
    <div class="block">
    <h2>{% trans "Search" %} <span class="subtitle">{% trans "for maps" %}</span></h2>

    <div id="search_results"></div>

    <p class="explain">{%trans "Click the <b>+</b> on any row to show map abstract." %}
      {% trans "To bookmark your current search use this" %} <a href="#" class="permalink">{% trans "permalink" %}</a>
    </p>
  </div>
  </div>

 </div>
</div>
{% endblock %}

{% block footer %}
This is the footer
{% endblock %}
