{% extends "base.html" %}
{% load i18n %}

{% block title %} {{ block.super }} {% endblock %}

{% block head %}
{{ block.super }}
<style>
.niceblock{
  background: #fff;
  height: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: url({{ STATIC_URL }}/theme/wash-white-30.png) #ffe;
  border: 3px solid white;
}
.niceblock h2{
  margin-top: 20px;
  margin-bottom: 10px;
}

.container {
  width: 1020px;
}
</style>
{% endblock %}

{% block main %}
<div id="main" class="container">
    <header class="jumbotron masthead" id="overview">
      <div class="inner">
        <div class="container">
          <div class="row">
            <div class="span5 niceblock">
               <h2>Impacts and Vulnerability</h2>
               <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
               <p><a class="btn pull-right" href="{% url impact %}">Learn more &raquo;</a></p>
            </div>
            <div class="span5 niceblock">
               <h2>Adaptation and Opportunities</h2>
               <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
               <p><a class="btn pull-right" href="{% url adaptation %}">Learn more &raquo;</a></p>
            </div>
            <div class="span5 niceblock">
               <h2>Resources</h2>
               <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
               <p><a class="btn pull-right" href="{% url resources %}">View details &raquo;</a></p>
            </div>
 
         </div>
          <div class="row">
            <div class="span5 niceblock">
               <h2>Tools and Maps</h2>
               <p>For citizens and decision makers to learn more about climate change and it's impacts.
               <ul>
                <li>Interactive maps</li>
                <li>Simulations</li>
               </ul>
               <p><a class="btn pull-right" href="{% url tools %}">View interactive simulations &raquo;</a></p>
            </div>
 
             <div class="span5 niceblock">
               <h2>Raw Data</h2>
                <p>Access the raw data used in this site. Downloads available in GeoTiff, Shapefile and CSV formats.</p>
                <p>
    <form action="{% url search %}" method="POST">
      {% csrf_token %}
       <input class="span4" type="text" id="search_query" name="q" />
       <button class="btn small primary pull-right" type="submit" id="submit_search">Search</button>
    </form>
               </p>
	       <p><a class="btn pull-right" href="{% url search %}">{% trans "View all layers" %} &raquo;</a></p>
            </div>
           <div class="span5 niceblock">
               <h2>About</h2>
               <ul>
                 <li>Who are we?</li>
                 <li>What do we do?</li>
                 <li>FAQ</li>
               </ul>
               <p><a class="btn pull-right" href="{% url about %}">Learn more &raquo;</a></p>
            </div>
          </div>
        </div><!-- /container -->
      </div>
    </header>
</div>
{% endblock %}
