{% extends "maps/tools_base.html" %}
{% load i18n %}
{% block head %}
{{ block.super }}
<style>
#droughtmap p, #droughtmap h4, #droughtmap iframe{
   margin-left: 20px;
}
iframe {
   border: 5px #404040 solid;
}
</style>
{%endblock%}
{% block sidebar %}
<div class="well">
<h2>{% trans "Latest Maps" %}</h2>
<ol>
{% for object in object_list %}
<li>
<h4>{{ object.title }}</h4>
<p>{{ object.abstract }}</p>
    <a href="#">
      <img class="thumbnail" src="http://placehold.it/210x150" alt="">
    </a>
</li>
{% empty %}
<p>{% trans "No maps have been created." %} {% trans "Why not" %}<a href="/maps/new">{% trans "create one?" %}</a>.</p>
{% endfor %}
</ol>
<h2>{% trans "Create your own" %}</h2>
<p>{% trans "You can use the interactive tools to create your own map focused on a topic or a location." %}
<a class="btn large primary" href="/maps/new">{% trans "New map" %}</a></p>

</div>
{% endblock %}
{% block content %}
<div id="main" class="container">
  <div class="well">
    <h1>{% trans "Tools and Maps" %}</h1>
  </div>
 <div id="grid" class="well">
  <ul class="media-grid">
   <li>
    <a href="#"><img class="thumbnail" src="http://placehold.it/330x230" alt=""></a>
   </li>
   <li>
    <a href="#"><img class="thumbnail" src="http://placehold.it/330x230" alt=""></a>
   </li>
   <li id="droughtmap">
     <iframe src='http://a.tiles.mapbox.com/v2/worldbank-climate.drought,worldbank-climate.wbc-borders/mm/tooltips,bwdetect,zoombox,attribution.html#5/-18/35' frameborder='0' width='330' height='230'></iframe>
   <h4>{% trans "Exposure to Drought - UNEP/GRID" %}</h4>
     <p>{% trans "Number of people exposed to drought per year." %}</p>
   </li>

  </ul>
 </div>
</div>
{% endblock %}
