{% extends "maps/tools_base.html" %}
{% load i18n %}
{% block head %}
{{ block.super }}
<style>
#droughtmap p, #droughtmap h4, #droughtmap iframe, #droughtmap a img{
   margin-left: 0px;
}
iframe {
   border: 5px #404040 solid;
}
#riskmap a{
margin-left: 150px;
}
.risiko{
margin-left: 325px;
}
.sidebar h5{
line-height:20px;
}
</style>
{%endblock%}
{% block sidebar %}
<div class="well">
<h2>{% trans "Latest Maps" %}</h2>
<ol>
{% for object in object_list %}
<li>
<h5><a href="{{ object.get_absolute_url }}/view">{{ object.title }}</a></h5>
<p>{{ object.abstract }}</p>
    <a href="{{ object.get_absolute_url }}/view">
      <img class="thumbnail" src="{{ STATIC_URL }}/theme/img/mapscreens/{{object.id}}.png" width="200" alt="">
    </a>
</li>
{% empty %}
<p>{% trans "No maps have been created." %} {% trans "Why not" %}<a href="/maps/new">{% trans "create one?" %}</a>.</p>
{% endfor %}
</ol>
<h2>{% trans "Create your own" %}</h2>
<p>{% trans "You can use the interactive tools to create your own map focused on a topic or a location." %}
<a class="btn large primary" href="/maps/new">{% trans "New map" %}</a></p>

</div>
{% endblock %}
{% block content %}
<div id="main" class="container">
  <div class="well">
    <h1>{% trans "Tools and Maps" %}</h1>
  </div>
 <div id="grid" class="well">
<div class="row">
<div class="span6"><h4>{% trans "Disaster Loss Database"%}</h4>
</div>
<div class="span6"><h4>{% trans "Exposure to Drought - UNEP/GRID" %}</h4>
</div>
</div>
  <ul class="media-grid">
   <li id="droughtmap">
    <a href="http://62.2.195.177/DesInventar/"><img style="border:5px #404040 solid;" src="{{ STATIC_URL }}/theme/img/gripscreen.png" height='230' alt=""></a>

</li>
 <li id="droughtmap"><a>
     <iframe src='http://a.tiles.mapbox.com/v2/worldbank-climate.drought,worldbank-climate.wbc-borders/mm/tooltips,bwdetect,zoombox,attribution.html#5/-18/35' frameborder='0' width='330' height='230'></iframe>
  </a> </li>
<div class="row">
<div class="span10">
<h4 class="risiko">Risk in a Box</h4></div></div>
<li id="riskmap">
<a href="/impact"><img src="{{ STATIC_URL }}/theme/img/risk.png" height='230' style="border:5px #404040 solid;align:center;"></a>
</li>
  </ul>
 </div>
</div>
{% endblock %}
